.stills {
  width: 75px;
  height: 28px;
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--gray-200, #e5e7eb);
}

.icons:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
